header, nav{
    background-color:var(--orange);
    min-height: 50px;
}
nav{
     background-color:var(--orange);
}
#basket{
    color: white;
}
#basket i {
    padding: 10px;
}
#basket{
    font-size: 20px;
}
.cart{
    cursor: pointer;
}
@media (min-width: 768px){
    #collapsibleNavbar{
        position: relative;
    }
    #basket{
        color: white;
        position: absolute;
        right: 5px;
    }
}
.active{
    font-weight: bold;
    color: white;
    font-size: 20px;
}